# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

cache/
out/
deployments/
broadcast/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local